/*Variables de Css se escriben dentro de root*/
:root {
    --margin-page: 60px;
    --color-primary: #2EB76E;
    --color-action: #422F95;
    --color-white: #FFFFFF;
    --brownie: #AD5A5A;
    --color-ch: red;
    --jumbotron-image1: url("Section.jpg");
    --jumbo-title: 56px;
    --textfocus-color: #70F6BE;
}

* {
    padding: unset; 
    margin: unset;
    border: unset;
    text-decoration: none;
    
    /* 16 pixeles cada rem */
    font-size: 1rem;
    /* regular: 400, 900 black, 800 la negrota, negrita 700*/
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    /* Propiedad muy importante*/
    box-sizing: border-box;
    
    outline: unset; /* esto quita las líneas de los input */

   /* margin y Padding automatizados*/
}


body {
  color: #1e1e1e;
}

.main-navbar{
    display: flex; /* diaplay flex coloca los elementos horizontales */
    justify-content: space-between; /*Coloca el espacio entre elementos*/
    align-items: center;
    padding: 14px var(--margin-page);
    background-color: var(--color-primary);
}

.main-navbar ul {
  display:flex;
  justify-content:space-between;
  gap: 46px;
  
}

.Jumbotron1{
  background-image: var(--jumbotron-image1); 
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  align-items: center;
  padding: var(--margin-page);
  color: var(--color-white);
  font-size: var(--jumbo-title);
  text-align: center;
  justify-content: center;
  font-weight: 700;
}


.tarjetas{
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

/* 
@font-face{
font-family: fiat;
url: (direccion fuentes)
}

Api de Google: Empleas el archivo de Google.

Siempre el display flesx en el elemento padre
crossaxis = align items
mainaxis = justify-content


crossaxis no tiene space-between

*/


